In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [11]:
nyc_df = pd.read_csv('.\Data\NYC-CitiBike-2016.csv')
chicago_df = pd.read_csv('.\Data\Chicago-Divvy-2016.csv')
washington_df = pd.read_csv('.\Data\Washington-CapitalBikeshare-2016.csv')

In [12]:
nyc_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,839,1/1/2016 00:09:55,1/1/2016 00:23:54,532,S 5 Pl & S 4 St,40.710451,-73.960876,401,Allen St & Rivington St,40.720196,-73.989978,17109,Customer,NaN,0
1,686,1/1/2016 00:21:17,1/1/2016 00:32:44,3143,5 Ave & E 78 St,40.776829,-73.963888,3132,E 59 St & Madison Ave,40.763505,-73.971092,23514,Subscriber,1960.0,1
2,315,1/1/2016 00:33:11,1/1/2016 00:38:26,3164,Columbus Ave & W 72 St,40.777057,-73.978985,3178,Riverside Dr & W 78 St,40.784145,-73.983625,14536,Subscriber,1971.0,1
3,739,1/1/2016 00:40:51,1/1/2016 00:53:11,223,W 13 St & 7 Ave,40.737815,-73.999947,276,Duane St & Greenwich St,40.717488,-74.010455,24062,Subscriber,1969.0,1
4,1253,1/1/2016 00:44:16,1/1/2016 01:05:09,484,W 44 St & 5 Ave,40.755003,-73.980144,151,Cleveland Pl & Spring St,40.722104,-73.997249,16380,Customer,NaN,0

In [13]:
chicago_df.head

<bound method DataFrame.head of         trip_id         starttime          stoptime  bikeid  tripduration  \
0       9080545   3/31/2016 23:30   3/31/2016 23:46    2295           926
1       9080521   3/31/2016 22:59   3/31/2016 23:02    3439           198
2       9080479   3/31/2016 22:24   3/31/2016 22:26    4337           124
3       9080475   3/31/2016 22:22   3/31/2016 22:41    3760          1181
4       9080443   3/31/2016 22:08   3/31/2016 22:19    1270           656
5       9080381   3/31/2016 21:44   3/31/2016 22:03    1381          1140
6       9080301   3/31/2016 21:26   3/31/2016 21:33    4460           418
7       9080155   3/31/2016 20:56   3/31/2016 21:13    2172          1022
8       9080133   3/31/2016 20:53   3/31/2016 20:59    1664           367
9       9080088   3/31/2016 20:42   3/31/2016 20:48     310           379
10      9080029   3/31/2016 20:28   3/31/2016 20:39    4329           678
11      9079849   3/31/2016 20:00   3/31/2016 20:09    3422           498
12      9079641   3/31/2016 19:31   3/31/2016 19:39    3663           497
13      9079619   3/31/2016 19:28   3/31/2016 20:04    1262          2162
14      9079606   3/31/2016 19:27   3/31/2016 19:33    2008           350
15      9079578   3/31/2016 19:24   3/31/2016 19:29    3382           321
16      9079427   3/31/2016 19:08   3/31/2016 19:14    1887           385
17      9079426   3/31/2016 19:08   3/31/2016 19:20    2007           728
18      9079416   3/31/2016 19:07   3/31/2016 19:09     703           152
19      9079396   3/31/2016 19:05   3/31/2016 19:14    4016           522
20      9079359   3/31/2016 19:01   3/31/2016 19:07    2695           416
21      9079268   3/31/2016 18:53   3/31/2016 19:06    2054           823
22      9079173   3/31/2016 18:46   3/31/2016 19:06    1705          1204
23      9079139   3/31/2016 18:43   3/31/2016 19:05    4232          1309
24      9078955   3/31/2016 18:30   3/31/2016 18:44    3719           857
25      9078928   3/31/2016 18:27   3/31/2016 18:33    2078           376
26      9078647   3/31/2016 18:09   3/31/2016 18:20     664           618
27      9078644   3/31/2016 18:09   3/31/2016 18:14    4250           284
28      9078638   3/31/2016 18:09   3/31/2016 18:18    2199           547
29      9078436   3/31/2016 17:59   3/31/2016 18:03    2885           256
...         ...               ...               ...     ...           ...
72101  12152401  10/01/2016 13:34  10/01/2016 13:42     202           477
72102  12152287  10/01/2016 13:17  10/01/2016 13:26    2866           545
72103  12152263  10/01/2016 13:14  10/01/2016 13:20    4419           367
72104  12152205  10/01/2016 13:05  10/01/2016 13:07    2926           146
72105  12152065  10/01/2016 12:45  10/01/2016 12:54    2609           557
72106  12151910  10/01/2016 12:25  10/01/2016 12:57    2143          1947
72107  12151739  10/01/2016 11:55  10/01/2016 11:59    1418           241
72108  12151595  10/01/2016 11:26  10/01/2016 11:58    5028          1929
72109  12151576  10/01/2016 11:22  10/01/2016 11:25    2280           181
72110  12151505  10/01/2016 11:06  10/01/2016 11:09      50           191
72111  12151503  10/01/2016 11:06  10/01/2016 11:33    5834          1625
72112  12151220  10/01/2016 09:59  10/01/2016 10:03    4863           226
72113  12151207  10/01/2016 09:55  10/01/2016 09:58    3997           182
72114  12151004  10/01/2016 08:47  10/01/2016 09:26    2702          2348
72115  12150922  10/01/2016 08:16  10/01/2016 08:26    3846           621
72116  12150848  10/01/2016 07:52  10/01/2016 08:01    5421           502
72117  12150843  10/01/2016 07:50  10/01/2016 07:57    2667           431
72118  12150793  10/01/2016 07:39  10/01/2016 07:50     414           653
72119  12150790  10/01/2016 07:39  10/01/2016 07:44     389           353
72120  12150599  10/01/2016 06:26  10/01/2016 06:29    5113           187
72121  12150553  10/01/2016 05:48  10/01/2016 05:57    1859           519
72122  12150508  10/01/2016 04:24  10/01/2016 05:01     375          2242
72123  12150468  10/01/2016 02:51  10/01/2016 03:00    1007           531
72124  12150424  10/01/2016 02:15  10/01/2016 02:36    2798          1222
72125  12150393  10/01/2016 01:52  10/01/2016 02:13     755          1244
72126  12150369  10/01/2016 01:40  10/01/2016 01:43    1651           233
72127  12150340  10/01/2016 01:21  10/01/2016 01:29    4803           472
72128  12150249  10/01/2016 00:35  10/01/2016 00:53    3906          1069
72129  12150216  10/01/2016 00:19  10/01/2016 00:44    5882          1492
72130  12150187  10/01/2016 00:09  10/01/2016 00:19     490           624

       from_station_id                    from_station_name  to_station_id  \
0                  156            Clark St & Wellington Ave            166
1                  259          California Ave & Francis Pl            276
2                  344        Ravenswood Ave & Lawrence Ave            242
3                  318       Southport Ave & Irving Park Rd            458
4                  345              Lake Park Ave & 56th St            426
5                  210            Ashland Ave & Division St            503
6                   67        Sheffield Ave & Fullerton Ave            324
7                   23              Orleans St & Elm St (*)             75
8                  239             Western Ave & Leland Ave            472
9                   77              Clinton St & Madison St             56
10                 100  Orleans St & Merchandise Mart Plaza              5
11                 174                Canal St & Madison St             31
12                 327          Sheffield Ave & Webster Ave            141
13                 212                 Orleans St & Ohio St            298
14                 118              Sedgwick St & North Ave            143
15                  67        Sheffield Ave & Fullerton Ave            166
16                 349          Halsted St & Wrightwood Ave            144
17                 107         Desplaines St & Jackson Blvd            320
18                 333           Ashland Ave & Blackhawk St             61
19                 164                Franklin St & Lake St            140
20                  74               Kingsbury St & Erie St             77
21                  43         Michigan Ave & Washington St             88
22                  93            Sheffield Ave & Willow St            154
23                  85                Michigan Ave & Oak St            210
24                  44               State St & Randolph St            138
25                  59            Wabash Ave & Roosevelt Rd            178
26                  53                  Wells St & Huron St             43
27                  37               Dearborn St & Adams St             41
28                  66                 Clinton St & Lake St             86
29                 322                Kimbark Ave & 53rd St            423
...                ...                                  ...            ...
72101               76            Lake Shore Dr & Monroe St            255
72102              185              Stave St & Armitage Ave            216
72103               51               Clark St & Randolph St            233
72104              240         Sheridan Rd & Irving Park Rd            306
72105              172                   Rush St & Cedar St             94
72106                4                       Burnham Harbor            267
72107               87           Racine Ave & Fullerton Ave            152
72108               76            Lake Shore Dr & Monroe St             76
72109              463                Clark St & Berwyn Ave            294
72110              223           Clifton Ave & Armitage Ave             93
72111              282              Halsted St & Maxwell St            335
72112               41                 Federal St & Polk St             59
72113              141               Clark St & Lincoln Ave            118
72114              462        Ravenswood Ave & Balmoral Ave            242
72115              331        Halsted St & Blackhawk St (*)            141
72116              459      Lakefront Trail & Bryn Mawr Ave            460
72117              259          California Ave & Francis Pl            213
72118              337               Clark St & Chicago Ave            186
72119              195            Columbus Dr & Randolph St             45
72120              337               Clark St & Chicago Ave            173
72121               66                 Clinton St & Lake St            195
72122              150           Fort Dearborn Dr & 31st St             90
72123              257           Lincoln Ave & Waveland Ave            319
72124              231           Sheridan Rd & Montrose Ave            231
72125              307         Southport Ave & Clybourn Ave            285
72126              117             Wilton Ave & Belmont Ave            114
72127              123       California Ave & Milwaukee Ave            503
72128               90                      Millennium Park            197
72129              300                 Broadway & Barry Ave            300
72130              144            Larrabee St & Webster Ave            152

                           to_station_name    usertype  gender  birthyear
0             Ashland Ave & Wrightwood Ave  Subscriber    Male     1990.0
1               California Ave & North Ave  Subscriber    Male     1974.0
2                   Damen Ave & Leland Ave  Subscriber  Female     1992.0
3                 Broadway & Thorndale Ave  Subscriber  Female     1979.0
4                      Ellis Ave & 60th St  Subscriber  Female     1997.0
5                Drake Ave & Fullerton Ave  Subscriber    Male     1984.0
6             Stockton Dr & Wrightwood Ave  Subscriber    Male     1974.0
7                  Canal St & Jackson Blvd  Subscriber    Male     1975.0
8                  Lincoln Ave & Winona St  Subscriber    Male     1983.0
9                Desplaines St & Kinzie St  Subscriber    Male     1986.0
10                  State St & Harrison St  Subscriber    Male     1980.0
11               Franklin St & Chicago Ave  Subscriber    Male     1985.0
12                  Clark St & Lincoln Ave  Subscriber  Female     1993.0
13          Lincoln Ave & Belle Plaine Ave  Subscriber    Male     1983.0
14               Sedgwick St & Webster Ave  Subscriber    Male     1987.0
15            Ashland Ave & Wrightwood Ave  Subscriber    Male     1991.0
16               Larrabee St & Webster Ave  Subscriber    Male     1967.0
17                Loomis St & Lexington St  Subscriber    Male     1973.0
18                 Wood St & Milwaukee Ave  Subscriber    Male     1991.0
19             Dearborn Pkwy & Delaware Pl  Subscriber    Male     1987.0
20                 Clinton St & Madison St  Subscriber    Male     1987.0
21                    May St & Randolph St  Subscriber  Female     1962.0
22             Southport Ave & Belmont Ave  Subscriber    Male     1982.0
23               Ashland Ave & Division St    Customer     NaN        NaN
24              Clybourn Ave & Division St  Subscriber    Male     1984.0
25                      State St & 19th St  Subscriber    Male     1959.0
26            Michigan Ave & Washington St  Subscriber    Male     1963.0
27                    Federal St & Polk St  Subscriber    Male     1982.0
28                            Eckhart Park  Subscriber    Male     1989.0
29                University Ave & 57th St  Subscriber    Male     1988.0
...                                    ...         ...     ...        ...
72101           Indiana Ave & Roosevelt Rd  Subscriber    Male     1985.0
72102         California Ave & Division St  Subscriber  Female     1980.0
72103    Sangamon St & Washington Blvd (*)  Subscriber    Male     1992.0
72104              Sheridan Rd & Buena Ave  Subscriber    Male     1986.0
72105              Clark St & Armitage Ave  Subscriber    Male     1987.0
72106              Lake Park Ave & 47th St    Customer     NaN        NaN
72107          Lincoln Ave & Diversey Pkwy  Subscriber    Male     1986.0
72108            Lake Shore Dr & Monroe St    Customer     NaN        NaN
72109                Broadway & Berwyn Ave  Subscriber    Male     1977.0
72110            Sheffield Ave & Willow St  Subscriber    Male     1990.0
72111                Calumet Ave & 35th St    Customer     NaN        NaN
72112            Wabash Ave & Roosevelt Rd  Subscriber    Male     1981.0
72113              Sedgwick St & North Ave  Subscriber    Male     1996.0
72114               Damen Ave & Leland Ave  Subscriber    Male     1982.0
72115               Clark St & Lincoln Ave  Subscriber  Female     1987.0
72116             Clark St & Bryn Mawr Ave  Subscriber  Female     1975.0
72117               Leavitt St & North Ave  Subscriber  Female     1985.0
72118                 Ogden Ave & Race Ave  Subscriber  Female     1987.0
72119         Michigan Ave & Congress Pkwy  Subscriber    Male     1957.0
72120  Mies van der Rohe Way & Chicago Ave  Subscriber    Male     1987.0
72121            Columbus Dr & Randolph St    Customer     NaN        NaN
72122                      Millennium Park    Customer     NaN        NaN
72123        Greenview Ave & Diversey Pkwy    Customer     NaN        NaN
72124           Sheridan Rd & Montrose Ave    Customer     NaN        NaN
72125                 Wood St & Hubbard St  Subscriber    Male     1986.0
72126         Sheffield Ave & Waveland Ave  Subscriber    Male     1971.0
72127            Drake Ave & Fullerton Ave  Subscriber  Female     1991.0
72128            Michigan Ave & Madison St    Customer     NaN        NaN
72129                 Broadway & Barry Ave  Subscriber    Male     1993.0
72130          Lincoln Ave & Diversey Pkwy  Subscriber    Male     1992.0

[72131 rows x 12 columns]>